*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: white;
  overflow: hidden;
}

 #canvas {
  background: url("img/space.jpeg");
  background-size: cover;
} 

/* .ball {
  background-color: orange;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  border-radius: 50%;
  margin: 0px;
  left: 15%;
  transform: translateX(-50%);
} */

.ground {
  background-color: green;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 500px;
}

/* .click {
  position: absolute;
  animation: click is forwards;
} */

/* @keyframes click {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  0% {
    transform: scale(30);
    opacity: 0;
  }
} */